@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import './variables.scss';

body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	background-color: var(--bg-color);
	color: var(--text-color);
}
