@import '../../styles/index.scss';

.home {
	.containerFilter {
		margin: 0.5em auto 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 0 1em;

		.search {
			display: flex;
			align-items: center;
			width: 80%;
			margin: 1em;
			padding: 1em;
			border-radius: 10px;
			background-color: var(--bg-color-element);
			box-shadow: 0px 0px 10px 1px var(--box-shadow-header);

			&Input {
				all: unset;
				width: 100%;

				&::placeholder {
					color: var(--icon-search);
					opacity: 1;
				}
			}

			&Icon {
				width: 24px;
				height: 24px;
				margin-right: 2em;

				& svg path {
					stroke: var(--icon-search);
				}
			}
		}

		.region {
			position: relative;
			width: 50%;
			margin-top: 1em;

			.details {
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				margin: 1em;
				padding: 1.5em;
				border-radius: 10px;
				background-color: var(--bg-color-element);
				box-shadow: 0px 0px 10px 1px var(--box-shadow-header);

				&[open] > .summary > .summaryIcon {
					transform: rotate(180deg);
				}

				.summary {
					display: flex;
					align-items: center;
					justify-content: space-between;
					background-color: var(--bg-color-element);

					&Icon {
						transition: 0.4s;
						width: 20px;
						height: 20px;
					}
				}

				.regionList {
					position: absolute;
					left: 0;
					right: 0;
					z-index: 99;
					background-color: var(--bg-color-element);
					box-shadow: 0px 0px 10px 1px var(--box-shadow-header);
					width: 100%;
					list-style: none;
					border-radius: 10px;
					margin: 2em 1em 1em;
					padding: 0 1.5em;

					.regionItem {
						margin: 1em 0;

						&:hover {
							font-weight: 600;
						}
					}
				}
			}
		}
	}

	.cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 3em;

		.navlink {
			all: unset;
			cursor: default;
		}
	}
}

@media screen and (min-width: 768px) {
	.home {
		padding: 1em 5em;
		.cards {
			width: 100%;
			flex-wrap: wrap;
			justify-content: space-between;
			flex-direction: row;
			padding: 0;
		}

		.containerFilter {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 0;

			.search {
				width: 35%;
				margin: 1em 0;
			}

			.region {
				width: 15%;
				margin: 0;

				.details {
					width: auto;
					margin: 0;

					.regionList {
						width: auto;
						margin: 2em 0;
					}
				}
			}
		}
	}
}
